<% if current_user %>
<div class="campaign-input">
	<form action="/campaigns" method="POST">
		Title: <input type="text" name="campaign[title]" value="<% campaign.title%>" placeholder="<%= campaign.title%>"> <br>
		What: <textarea name="campaign[what]" value="<% campaign.what%>" placeholder="<%= campaign.what%>"><% campaign.what%></textarea><br>
		Why: <textarea name="campaign[why]" value="<% campaign.why%>" placeholder="<%= campaign.why%>"></textarea><br>
		<input type="submit" value="Submit!">
	</form>
</div>
<% end %>

